<footer class="footer footer-dark">
  {{ $footer := .Site.Params.footer }}
  <div class="container">
    <div class="columns">
      <div class="column">
        <!-- <div class="footer-logo"> -->
            {{- $out_fo  := "footer.svg" -}}
            {{- $img_n   := .Site.Params.footer.logo -}}
            {{- $home    := .Site.Params.homepage.linkPosition -}}
            {{- $type    := lower (substr $img_n (sub (len $img_n) 3) (len $img_n)) -}}
            {{- $img     := resources.Get $img_n -}}
            {{- if eq $type "svg" -}}
              {{- $img    = $img | resources.ExecuteAsTemplate $out_fo . }}
            {{- end -}}
            <img src="{{- $img.Permalink | relURL -}}" alt="">
        <!-- </div> -->
      </div>

      {{ if and $footer (or (or (or (isset $footer "linkedin") (isset $footer "email")) (isset $footer "twitter")) (isset $footer "github")) }}
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
              <h3>Social</h3>
          </div>
          <ul class="link-list">
            {{ if and (isset $footer "linkedin") (isset $footer.linkedin "link") }}
            <li>
              <a href="https://www.linkedin.com/in/{{ $footer.linkedin.link }}" target="_blank">
                <span class="icon"><i class="fab fa-linkedin"></i></span>
                {{ if isset $footer.linkedin "title" }}
                  {{ $footer.linkedin.title }}
                {{ else }}
                  LinkedIn
                {{ end }}
              </a>
            </li>
            {{ end }}
            {{ if and (isset $footer "github") (isset $footer.github "link") }}
            <li>
              <a href="https://github.com/{{ $footer.github.link }}" target="_blank">
                <span class="icon"><i class="fab fa-github"></i></span>
                {{ if isset $footer.github "title" }}
                  {{ $footer.github.title }}
                {{ else }}
                  Github
                {{ end }}
              </a>
            </li>
            {{ end }}
            {{ if and (isset $footer "email") (isset $footer.email "link") }}
            <li>
              <a href="mailto:{{ $footer.email.link }}" target="_blank">
                <span class="icon"><i class="fa fa-envelope"></i></span>
                {{ if isset $footer.email "title" }}
                  {{ $footer.email.title }}
                {{ else }}
                  Email
                {{ end }}
              </a>
            </li>
            {{ end }}
            {{ if and (isset $footer "twitter") (isset $footer.twitter "link") }}
            <li>
              <a href="https://twitter.com/{{ $footer.twitter.link }}" target="_blank">
                <span class="icon"><i class="fab fa-twitter"></i></span>
                {{ if isset $footer.twitter "title" }}
                  {{ $footer.twitter.title }}
                {{ else }}
                  Twitter
                {{ end }}
              </a>
            </li>
            {{ end }}
            {{ if and (isset $footer "twitch") (isset $footer.twitch "link") }}
            <li>
              <a href="https://www.twitch.tv/{{ $footer.twitch.link }}" target="_blank">
                <span class="icon"><i class="fab fa-twitch"></i></span>
                {{ if isset $footer.twitch "title" }}
                  {{ $footer.twitch.title }}
                {{ else }}
                Twitch
                {{ end }}
              </a>
            </li>
            {{ end }}
            {{ if and (isset $footer "youtube") (isset $footer.youtube "link") }}
            <li>
              <a href="https://www.youtube.com/channel/{{ $footer.youtube.link }}" target="_blank">
                <span class="icon"><i class="fab fa-youtube"></i></span>
                {{ if isset $footer.youtube "title" }}
                  {{ $footer.youtube.title }}
                {{ else }}
                YouYube
                {{ end }}
              </a>
            </li>
            {{ end }}
            {{ if and (isset $footer "discord") (isset $footer.discord "link") }}
            <li>
              <a href="https://discord.gg/{{ $footer.discord.link }}" target="_blank">
                <span class="icon"><i class="fab fa-discord"></i></span>
                {{ if isset $footer.discord "title" }}
                  {{ $footer.discord.title }}
                {{ else }}
                  Discord
                {{ end }}
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}

      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
              <h3>Podcast</h3>
          </div>
          <ul class="link-list">
            <li>
              <a href="https://isaacl.dev/podcast-spotify" target="_blank">
                <span class="icon"><i class="fab fa-spotify"></i></span>
                  Spotify
              </a>
            </li>
            <li>
              <a href="https://isaacl.dev/podcast-apple" target="_blank">
                <span class="icon"><i class="fas fa-podcast"></i></span>
                  Apple Podcasts
              </a>
            </li>
            <li>
              <a href="https://isaacl.dev/podcast-youtube" target="_blank">
                <span class="icon"><i class="fab fa-youtube"></i></span>
                  YouTube Music
              </a>
            </li>
            <li>
              <a href="https://isaacl.dev/podcast-amazon" target="_blank">
                <span class="icon"><i class="fab fa-amazon"></i></span>
                  Amazon Music
              </a>
            </li>
            <li>
              <a href="https://isaacl.dev/podcast-rss" target="_blank">
                <span class="icon"><i class="fas fa-rss"></i></span>
                  RSS Feed
              </a>
            </li>
          </ul>
        </div>
      </div>

      {{ if and $footer (isset $footer "copyright") }}
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
              <h3>{{ i18n "copyright" }}</h3>
          </div>
          <ul class="link-list">
            <li>
              <a>
                <span class="icon"><i class="fa fa-copyright"></i></span>
                {{ $footer.copyright }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      {{ end }}

    </div>
  </div>
</footer>
