<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />

{{ $guest := index site.Data.guests (lower .Page.Title) }}

    <meta property="og:url"  content="{{- .Permalink -}}" />
    <meta property="og:type" content="article" />
    {{- $title := replace .Title '"' ' ' -}}
    {{ if $guest.GuestName }}
    <meta property="og:title" content="{{- $guest.GuestName -}}" />
    {{ else }}
    <meta property="og:title" content="{{- $title -}}" />
    {{ end }}
    {{- if $guest.GuestBio -}}
    <meta property="og:description" content="{{ $guest.GuestBio }}" />
    {{- else -}}
    <meta property="og:description" content="{{ $title }}" />
    {{- end -}}

    {{/* Prefer a page-provided social image, then guest video thumb, else default. */}}
    {{- $ogImage := "" -}}
    {{- if .Params.og_image -}}
        {{- $ogImage = (.Params.og_image | absURL) -}}
    {{- else if $guest.YouTubeVideoId -}}
        {{- $ogImage = printf "https://i.ytimg.com/vi/%s/maxresdefault.jpg" $guest.YouTubeVideoId -}}
    {{- else -}}
        {{- $ogImage = "https://www.coffeeandopensource.com/images/logo.jpg" -}}
    {{- end -}}
    <meta property="og:image" content="{{ $ogImage }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ $ogImage }}" />

    <title>
        {{- if .IsHome -}}
        {{- .Site.Title -}}
        {{- else -}}
        {{- .Site.Title -}}{{- " - " -}}
        {{ if $guest.GuestName }}
        {{- $guest.GuestName -}}
        {{else}}
        {{- $title -}}
        {{- end -}}
        {{- end -}}
        </title>
