<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />

{{ $guest := index site.Data.guests (lower .Page.Title) }}



    <meta property="og:url"  content="{{- .Permalink -}}" />
    <meta property="og:type" content="article" />
    {{- $title := replace .Title '"' ' ' -}}
    {{ if $guest.GuestName }}
    <meta property="og:title" content="{{- $guest.GuestName -}}" />
    {{ else }}
    <meta property="og:title" content="{{- $title -}}" />
    {{ end }}
    {{- if $guest.GuestBio -}}
    <meta property="og:description" content="{{ $guest.GuestBio }}" />
    {{- else -}}
    <meta property="og:description" content="{{ $title }}" />
    {{- end -}}

    {{if $guest.YouTubeVideoId}}
    <meta property="og:image" content="https://i.ytimg.com/vi/{{ $guest.YouTubeVideoId }}/maxresdefault.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://i.ytimg.com/vi/{{ $guest.YouTubeVideoId }}/maxresdefault.jpg" />
{{else}}
<meta property="og:image" content="https://www.coffeeandopensource.com/images/logo.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://www.coffeeandopensource.com/images/logo.png" />
{{end }}

    <title>
        {{- if .IsHome -}}
        {{- .Site.Title -}}
        {{- else -}}
        {{- .Site.Title -}}{{- " - " -}}
        {{ if $guest.GuestName }}
        {{- $guest.GuestName -}}
        {{else}}
        {{- $title -}}
        {{- end -}}
        {{- end -}}
        </title>
