<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{- $out  := "favicon_main.svg" -}}
    {{- $icon := .Site.Params.favicon -}}
    {{- $type    := lower (substr $icon (sub (len $icon) 3) (len $icon)) -}}
    {{- $img  := resources.Get $icon -}}
    {{- if eq $type "svg" -}}
      {{- $img    = $img | resources.ExecuteAsTemplate $out . }}
    {{- end -}}
    <link rel="icon" href="{{- $img.Permalink | relURL -}}">
    {{- partial "meta.html" . -}}




    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5RMLTXX');</script>


{{ partial "css.html" . }}
  </head>
  <body>

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RMLTXX"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <!-- Counter -->
    {{- partial "counter.html" -}}
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>

    {{- block "main" . -}} {{- end -}}

    {{- partial "javascript.html" . -}}
  </body>
</html>