<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title is-2 section-title">{{- .Title -}}</h1>
        <h5 class="subtitle is-5 is-muted">{{- .Params.Subtitle -}}</h5>
        <div class="divider"></div>
        {{/*  <section class="section content">  */}}
        <section class="section content has-text-justified">
          {{ $url := urls.Parse .Permalink}}
          {{ if eq $url.Path "/streams.html" }}
          {{ $dataJ := getJSON "/data/data.json" }}
          <h2>
            <span id="guest"></span> - Recorded
            <span id="dt" class="formatdate"></span> on Twitch</h2>
          <br />
          <br />
          <center>
          <iframe id="youtube" width="800" height="600" src="" frameborder="0" allow="accelerometer;
          autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
          </center>
            <script>
              (function (document) {

                function getParameterByName(name, url = window.location.href) {
                  name = name.replace(/[\[\]]/g, '\\$&');
                  var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                      results = regex.exec(url);
                  if (!results) return null;
                  if (!results[2]) return '';
                  return decodeURIComponent(results[2].replace(/\+/g, ' '));
              }

              var dt = (getParameterByName("date"));
              if (dt != null)
              {
                var data = {{ $dataJ }}
                var stream;
                data.forEach(da =>{
                  if (da.RowKey == dt.replaceAll("-","").replace("/",""))
                  {
                    stream = da;
                  }
                });
              if (stream != null)
              {
                var guest = document.getElementById("guest");
                guest.innerHTML = stream.Guest;

                var d = document.getElementById("dt");
                d.innerHTML = stream.DateTimeAsString;

                var yt = document.getElementById("youtube");
                yt.src = "https://www.youtube.com/embed/" + stream.YouTubeVideoId;
              }
              else
              {
                document.location.href = "../schedule/";
              }
            }
            else
            {
              document.location.href = "../schedule/";
            }
              })(document);
            </script>
          {{ else }}
            {{- .Content -}}
          {{ end }}
        </section>
      </div>
    </div>
  </div>
  {{- if not .Params.hideLastModified -}}
  <div class="container">
    <div class="columns">
      <div class="column has-text-right is-family-monospace is-centered-tablet-portrait">
        {{ i18n "lastModified" }}:&nbsp;
        <span class="formatdate">{{- .Lastmod -}}</span>
      </div>
    </div>
  </div>
  {{- end -}}
</section>
