  {{- $articlesPerRow := .Site.Params.articlesPerRow -}}
  {{- if (eq $articlesPerRow 2) -}}
  <div class="column is-6">
  {{- else if (eq $articlesPerRow 3) -}}
  <div class="column is-4">
  {{- else if (eq $articlesPerRow 4) -}}
  <div class="column is-3">
  {{- else if (eq $articlesPerRow 5) -}}
  <div class="column is-one-fifth">
  {{- else if (eq $articlesPerRow 6) -}}
  <div class="column is-2">
  {{- else -}}
  <div class="column is-4">
  {{- end -}}
    <div class="box">
      <figure class="image is-3by2">
        {{- $dt := dateFormat "2006-01-02" .DateTimeUTC  -}}

         {{ if .YouTubeVideoId }}
        <a href="streams.html?date={{ $dt }}/">
          <img src="https://i.ytimg.com/vi_webp/{{ .YouTubeVideoId }}/hqdefault.webp" alt="">
        </a>
        {{- else -}}
        {{- $image := "" -}}
        {{- $imgWidth := 0 -}}
        {{- $imgHeight := 0 -}}
          {{- $i := "/images/logo_old.jpg" -}}
          {{- $image = resources.Get $i -}}
          {{- $imgWidth = $image.Width -}}
          {{- $imgHeight = $image.Height -}}

        <a href="streams/?date={{ $dt }}">
          <img src="{{- $image.Permalink | relURL -}}" alt="">
        </a>
        {{ end }}
      </figure>
      <h3 class="title is-5 refresh-summary-title">
        {{ .Guest }}
      </h3>
      <p class="refresh-summary">
           <span style="font-size: 15px;"><span class="formatdate">{{ .DateTimeAsString }}</span> on Twitch</span>
      </p>
    </div>
  </div>
