{{- define "main" -}}

     <section class="hero is-fullheight is-default is-bold">

        {{- partial "navbar.html" . -}}

        {{- $homepage   := .Site.Params.homepage -}}
        {{- $title      := index $homepage "title" -}}
        {{- $subtitle   := index $homepage "subtitle" -}}
        {{- $image      := index $homepage "image" -}}
        {{ with partialCached "func/GetGuestData" .Data.Term .Data.Term }}
        <section class="section is-medium">
    <main>
      <div class="post-header">
        <h1>
          {{ .GuestName }}
          <br />
          {{ if .IsPublished}}
          Recorded on
          {{ else }}
          Scheduled for
          {{end}}
          <span id="dt" class="formatdate">{{ .DateTimeAsString }}</span>
        </h1>
    </div>
    <div align="start" class="content">
      {{ if .GuestBio }}
      <p>
        {{ safeHTML .GuestBio }}
      </p>
      {{ end }}
      {{ if .YouTubeVideoId }}
      <h2 id="the-show">
        Live Stream Recording
      </h2>
      <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden">
          <iframe src="https://www.youtube.com/embed/{{ .YouTubeVideoId }}"
          style="position:absolute;top:0;left:0;width:100%;height:100%;border:0" allowfullscreen="" title="YouTube Video">
        </iframe>
      </div>
      <br>
      {{ end }}
      {{ if .HaveAudio}}
      <p>
        You can also listen to the audio directly:
      </p>
      <audio controls="">
        <source src="https://podcasts.coffeeandopensource.com/interviews/{{ title .PartitionKey}}.mp3">
      </audio>
      <br /><br />
      {{ end }}
      {{ if .Links }}
      <p>
          Here are some links provided by {{ index (split .GuestName " ") 0 }}:
        </p>
        <ul>
        {{ range $value := .Links }}
          {{ range $elem_key, $elem_val := $value }}
            <li>
              <a href="{{ $elem_val }}" target="_blank">{{ $elem_key }}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
      {{ end }}
      {{ if .Socials }}
        <p>
          You can find {{ index (split .GuestName " ") 0 }} on the following sites:
        </p>
        <ul>
        <div style="text-align: center;">
          {{ range $value := .Socials }}
          {{ range $elem_key, $elem_val := $value }}
            <li style="display: inline-block; margin-right: 10px;">
              <a href="{{ $elem_val }}" target="_blank">
              {{ if or (eq $elem_key "Blog") (eq $elem_key "Website") }}
                <img src="/images/blog-icon.png" alt="{{ $elem_key }}" width="50px" title="{{ $elem_key }}">
              {{ else }}
                {{ if eq $elem_key "LinkedIn" }}
                  <img src="/images/linkedin.png" alt="{{ $elem_key }}" width="50px" title="{{ $elem_key }}">
                {{ else }}
                <img src="https://cdn.simpleicons.org/{{ $elem_key }}/black/white" alt="{{ $elem_key}}" width="50px" title="{{ $elem_key }}" onerror="this.style.display='none'">
                {{ end }}
              {{ end }} </a>
            </li>
          {{ end }}
        {{ end }}
            </ul>
      {{ end }}
      <br />
      {{ if or (.SpotifyLink) (.YouTubeVideoId) (.APLink) (.AmazonLink) }}
        <p>
          The interview is also available as a podcast, available almost anywhere you can listen to one.
        </p>
        <h2 id="listen">
          Podcast Platforms
        </h2>
        {{ if .SpotifyLink }}
          <a href="{{ .SpotifyLink }}" target="_blank">
            <figure>
              <img src="/images/spotify.png" width="200px">
          </figure>
          </a>
        {{ end }}
        {{ if .YouTubeVideoId }}
        <a href="https://music.youtube.com/podcast/{{ .YouTubeVideoId}}" target="_blank">
          <figure>
            <img src="/images/youtube-music.png" width="200px">
          </figure>
        </a>
        {{ end }}
        {{ if .APLink }}
        <a href="{{ .APLink }}" target="_blank">
          <figure>
            <img src="/images/apple-podcasts.png" width="200px">
          </figure>
        </a>
        {{ end }}
        {{ if .AmazonLink }}
          <a href="{{ .AmazonLink }}" target="_blank">
            <figure>
              <img src="/images/amazon.png" width="200px">
          </figure>
          </a>
        {{ end }}
        <p>
          There is also a <a href="https://isaacl.dev/podcast-rss" target="_blank">podcast RSS feed</a>, so you can add it to your podcast player of choice.
        </p>
        <br />
        <br />
        {{ end }}
        <h1>Thanks for watching or listening!</h1>
      </div>
    </main>
    <div style="display: none;">
{{ if .GuestBio }}{{safeHTML .GuestBio }}{{ end }}
<br />{{ if .Socials }}
You can find {{ index (split .GuestName " ") 0 }} on the following sites:<ul>{{ range $value := .Socials }}{{ range $elem_key, $elem_val := $value }}
  <li>
    <a href="{{ $elem_val }}" target="_blank">{{ $elem_key }}</a>
  </li>{{ end }}{{ end }}
</ul>{{ end }}{{ if .Links }}
Here are some links provided by {{ index (split .GuestName " ") 0 }}:<ul>
        {{ range $value := .Links }}
          {{ range $elem_key, $elem_val := $value }}
  <li>
    <a href="{{ $elem_val }}" target="_blank">{{ $elem_key }}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
      {{ end }}
PLEASE SUBSCRIBE TO THE PODCAST<ul>
  <li>
    <a href="http://isaacl.dev/podcast-spotify" target="_blank" rel="noopener noreferer">Spotify</a>
  </li>
  <li>
    <a href="http://isaacl.dev/podcast-apple" target="_blank" rel="noopener noreferer">Apple Podcasts</a>
  </li>
  <li>
    <a href="http://isaacl.dev/podcast-youtube" target="_blank" rel="noopener noreferer">YouTube Music</a>
  </li>
  <li>
    <a href="http://isaacl.dev/podcast-amazon" target="_blank" rel="noopener noreferer">Amazon Music</a>
  </li>
  <li>
    <a href="http://isaacl.dev/podcast-rss" target="_blank" rel="noopener noreferer">RSS Feed</a>
  </li>
</ul>
<p>You can check out more episodes of Coffee and Open Source on <a href="https://www.coffeeandopensource.com" target="_blank" rel="noopener noreferer">https://www.coffeeandopensource.com</a></p>
<p>Coffee and Open Source is hosted by <a href="https://twitter.com/isaacrlevin" target="_blank" rel="noopener noreferer">Isaac Levin</a></p>
</div>
{{end }}
    {{- partial "footer.html" . -}}
    <!-- Back To Top Button -->
    <div id="backtotop">
      <a href="#">
        <i class="fas fa-angle-up" aria-hidden="true"></i>
      </a>
    </div>
{{- end -}}