{{- define "main" -}}

     <section class="hero is-fullheight is-default is-bold">

        {{- partial "navbar.html" . -}}
        {{- partial "navbar-clone.html" . -}}

        {{- $homepage   := .Site.Params.homepage -}}
        {{- $title      := index $homepage "title" -}}
        {{- $subtitle   := index $homepage "subtitle" -}}
        {{- $image      := index $homepage "image" -}}
        <div class="sidenav">
          <h3>Upcoming Streams</h3>
          <a href="/schedule/">Tracy Lee - <span class="formatdate">1/27/2021 11:00 AM</span></a>
          <a href="/schedule/">Mislav Marohnić - <span class="formatdate">2/3/2021 9:00 AM</span></a>
          <a href="/schedule/">Abel Wang - <span class="formatdate">2/10/2021 9:00 AM</span></a>
          <a href="/schedule/">Mark Collier - <span class="formatdate">2/17/2021 9:00 AM</span></a>
          <a href="/schedule/">Richard Campbell - <span class="formatdate">2/24/2021 9:00 AM</span></a>
        </div>
    {{ $dataJ := getJSON "https://coffeeandopensource.com/api/GetSchedule" }}
    <section class="section is-medium">
        <div class="container" style="margin-right: 750px;">
              <figure class="image" style="margin-left: 20px;" >
                {{- $img := resources.Get $image -}}
                <img src="{{- $img.Permalink | relURL -}}"
                    style="width:{{- .Site.Params.homepage.imageWidth -}}" alt="Myself">
                </figure>
              <div class="section is-small">
                  {{- $articlesPerRow := .Site.Params.articlesPerRow -}}
                  <div class="columns">
                    {{- range $index, $element := (sort $dataJ ".rowKey" "desc") }}
                    {{ $t := (time .dateTimeUTC) }}
                    {{ $show := false}}
                    {{ if ($t.Before now) }}
                    {{ $show = true}}
                    {{end}}
                    {{ if $show}}
                        {{- if and (eq (mod $index $articlesPerRow) 0 ) (not (eq $index 0)) -}}
                          </div>
                          <div class="columns">
                        {{- end -}}
                        {{- partial "dsummary.html" . -}}
                    {{- end -}}
                    {{end}}
                   </div>
              </div>
        </div>
    </section>

    {{- partial "footer.html" . -}}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{- partial "sidebar.html" . -}}

{{- end -}}