{{- define "main" -}}

     <section class="hero is-fullheight is-default is-bold">

        {{- partial "navbar.html" . -}}
        {{- partial "navbar-clone.html" . -}}

        {{- $homepage   := .Site.Params.homepage -}}
        {{- $title      := index $homepage "title" -}}
        {{- $subtitle   := index $homepage "subtitle" -}}
        {{- $image      := index $homepage "image" -}}

    {{ $dataJ := getJSON "/data/data.json" }}
    <section class="section is-medium">
        <div class="container">
              <figure class="image" style="margin-left: 20px;" >
                {{- $img := resources.Get $image -}}
                <img src="{{- $img.Permalink | relURL -}}"
                    style="width:{{- .Site.Params.homepage.imageWidth -}}" alt="Myself">
                </figure>
              <div class="section is-small">
                  {{- $articlesPerRow := .Site.Params.articlesPerRow -}}
                  <div class="columns">
                    {{ $art := -1 }}
                    {{- range $index, $element := (sort $dataJ ".RowKey" "desc") }}
                    {{ $t := (time .DateTimeUTC) }}
                    {{ $show := false}}
                    {{ if ($t.Before now) }}
                    {{ $show = true}}
                    {{ $art = add $art 1 }}
                    {{end}}
                    {{ if $show}}
                        {{- if and (eq (mod $art $articlesPerRow) 0 ) (not (eq $index 0)) -}}
                          </div>
                          <div class="columns">
                        {{- end -}}
                        {{- partial "dsummary.html" . -}}
                    {{- end -}}
                    {{end}}
                   </div>
              </div>
        </div>
        <div class="sidenav">
          <center><h2>Upcoming Streams</h2></center>
          {{ $sortOrder := "asc"}}
          {{ range first 5 (where ( sort $dataJ ".RowKey" $sortOrder ) "IsPublished" false) }}
              <a href="/schedule/"><span class="formatdate">{{ .DateTimeAsString }}</span> - {{ .Guest }}</a>
          {{ end }}
        </div>
    </section>

    {{- partial "footer.html" . -}}

    <!-- Back To Top Button -->
    <div id="backtotop">
      <a href="#">
        <i class="fas fa-angle-up" aria-hidden="true"></i>
      </a>
    </div>

    {{- partial "sidebar.html" . -}}

{{- end -}}