{{- define "main" -}}

     <section class="hero is-fullheight is-default is-bold">

        {{- partial "navbar.html" . -}}

        {{- $homepage   := .Site.Params.homepage -}}
        {{- $title      := index $homepage "title" -}}
        {{- $subtitle   := index $homepage "subtitle" -}}
        {{- $image      := index $homepage "image" -}}

        {{ $dataJ := getJSON "/data/guests.json" }}
        <section class="section is-medium">
        <div class="container">
                <div class="section is-small">
                  {{- $articlesPerRow := .Site.Params.articlesPerRow -}}
                  <div class="columns">
                    {{ $art := -1 }}
                    {{- range $index, $element := (sort $dataJ ".RowKey" "desc") }}
                        {{ $t := (time .DateTimeUTC) }}
                        {{ $show := false}}
                        {{ if ($t.Before now) }}
                          {{ $show = true}}
                          {{ $art = add $art 1 }}
                        {{end}}
                        {{ if $show}}
                          {{- if and (eq (mod $art $articlesPerRow) 0 ) (not (eq $index 0)) -}}
                            </div>
                            <div class="columns">
                          {{- end -}}
                          {{- partial "guest.html" . -}}
                      {{end}}
                    {{ end }}
                   </div>
              </div>
        </div>
        <div class="modal fade" id="upcomingModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="modal_title">
                    <center><h2>Upcoming Streams</h2></center>
                </h5>
                <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">
              <div class="sidenav">
              {{ $sortOrder := "asc"}}
              {{ range first 5 (where ( sort $dataJ ".DateTimeUTC" $sortOrder ) "IsPublished" false) }}
                  <a href="/schedule.html"><span class="formatdate">{{ .DateTimeAsString }}</span> - {{ .GuestName }}</a>
              {{ end }}
            </div>
            </div>
        </div>
    </div>
    </section>

    {{- partial "footer.html" . -}}

    <!-- Back To Top Button -->
    <div id="backtotop">
      <a href="#">
        <i class="fas fa-angle-up" aria-hidden="true"></i>
      </a>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        $("#upcomingModal").modal("show");
      });
    </script>

{{- end -}}