<table>
    <thead>
    <tr>
    <th>Date</th>
    <th>Topic</th>
    <th>Guest</th>
    </tr>
    </thead>
    <tbody>
        {{ $dataJ := getJSON "/data/data.json" }}
        {{ $sortOrder := "asc"}}
        {{if (eq ($.Get 0) "previous" )}}
        {{ $sortOrder = "desc"}}
        {{end}}
        {{ range sort $dataJ ".RowKey" $sortOrder  }}
        {{ $t := (time .DateTimeUTC) }}
        {{ $show := false}}
        {{ if and (eq ($.Get 0) "upcoming" ) ($t.After now) }}
        {{ $show = true}}
        {{end}}
        {{ if and (eq ($.Get 0) "previous" ) ($t.Before now) }}
        {{ $show = true}}
        {{end}}
        {{ if $show}}
  <tr>
  <td><span class="formatdate">{{ .DateTimeAsString }}</span></td>
  {{ if ne .YouTubeVideoId ""  }}
  <td><a href="https://www.youtube.com/watch?v={{ .YouTubeVideoId }}" target="_blank">{{ .Topic }}</a></td>
  {{ else }}
  <td><a href="https://twitch.tv/isaacrlevin" target="_blank">{{ .Topic }}</a></td>
  {{ end }}
  <td><a href="https://twitter.com/{{ .GuestHandle }}" target="_blank">{{ .Guest }}</a></td>
</tr>
{{end}}
{{ end }}

</tbody></table>